:root {
    --light-bg: #D5EDD9;
    --dark-bg: #5B695D;
    --light-txt: #D5EDD9;
    --dark-txt: #5B695D;
    --yellow: #EBCA49;
    --dk-red: #9E3021;
    --light-red: #EB7B6C;
}

* {
    margin: 0;
}

ul {
    display: flex;
    background-color: var(--dark-bg);
    color: var(--light-txt);
    justify-content: center;
}

li {
    font-size: 3.5vw;
    list-style: none;
    padding: 8px 16px;
}

.head-bar {
    padding: 32px;
}

div {
    border: 2px solid red;
}

.side {
    display: flex;
    flex-direction: column;
    width: 20%;
}